body {
	font-family: verdana;
	font-sizolor: #F1E9DE;
	margin: 0px;
	e:xx-small;
	font-weight: normal;
	background-ccolor: #000080;
	background-color : #F1E9DE;
	scrollbar-face-color: #9B9FC3;
	scrollbar-shadow-color: #F1E9DE;
	scrollbar-highlight-color: #F1E9DE;
	scrollbar-3dlight-color: #F1E9DE;
	scrollbar-darkshadow-color: #F1E9DE;
	scrollbar-track-color: #F1E9DE;
	scrollbar-arrow-color: White;
}
select {
	font-size : xx-small;
	background: white;
	font-family : Verdana;
	border-width : 1;
	border-style : solid;
	border-color : #000080;
}
A:link {
	color : #000080;
	font-size : xx-small;
	font-weight : bold;
	text-decoration: none;
}
A:visited {
	color : #000080;
	font-size : xx-small;
	font-weight : bold;
	text-decoration: none;
}
A:hover {
	color : #00009C;
	font-size : xx-small;
	font-weight : bold;
	text-decoration: none;
}
.menuBouton {
	font-family:verdana;
	font-size:xx-small;
	font-weight:bold;
	color: #C89B3C;
	text-decoration:none;
}
.cmdForm {
	font-size : xx-small;
	font-family : Verdana;
	background-color : #8183A2;
	color : #ffffff;
	font-weight : bold;
	border-width : thin;
}
.champ{
	background-image : url(/demoencelade/Portal_Templates/Template_2/Images/Login/bg_champ.gif);
}

.champ2{
	background-image : url(/demoencelade/Portal_Templates/Template_2/Images/Login/bg_champ.gif);
	font : 10px Arial, Helvetica, sans-serif;
	border : none;
	color : #40378C;
	text-align : center;
}

.tblText {
	font-family: verdana;
	font-size:xx-small;
	font-weight: normal;
	color: #000080;
}
#desc {
    BACKGROUND-COLOR: transparent;
    BORDER-BOTTOM: silver 1px;
    BORDER-LEFT: silver 1px;
    BORDER-RIGHT: silver 1px;
    BORDER-TOP: silver 1px;
    COLOR: black;
    FONT-FAMILY: verdana;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: normal;
    MARGIN: 1px 0em;
    TEXT-ALIGN: justify;
    TEXT-INDENT: 0%;
}
.DHeading {
	BACKGROUND-COLOR: #8183A2;
	color: #FFFFFF;
	font-size : 12px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight : bold;
}

.newstitle {
	color: #FFFFFF;
	font-size : 12px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight : bold;
}

.newstitle2{
	color: #8287B0;
	font-size : 12px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight : bold;
	background : #E3E1CE;
}
.newstexte{
	color: Navy;
	font-size : 11px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight : normal;
	text-align : justify;
}

.DDate {
	color : #000080; 
	font-size : xx-small;
}
.DHead {
    color: #FFFFFF;
	background-color: #8183A2; 
	font-family: verdana; 
	font-size: 10pt; 
	font-style: normal; 
    font-weight: bold; 
}
.Dbody  {
	color: Navy;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
}
.permLec:link {
	color : #FFFFFF;
	font-size : xx-small;
	font-weight : bold;
	text-decoration: none;
}
.LayCatPathText {
	font-family: verdana;
	font-size:xx-small;
	font-weight: normal;
	color: #000080;
}
#LayCatPathHref {
	font-family: verdana;
	font-size:xx-small;
	font-weight : bold;
	text-decoration: none;
	color: #000080;
}
#LayCatPathHref:hover {
	font-family: verdana;
	font-size:xx-small;
	font-weight : bold;
	text-decoration: none;
	color: #FF0000;
}
.LayCatChildTitle {
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
	color: #7C7C7C;
	margin : 10px;
	background : #DFDFDF;
}
LayCatLayoutTitle {
	font-family: verdana;
	font-size:xx-small;
	font-weight: normal;
	color: #000080;
}