body {
	font-family: verdana;
	font-size:xx-small;
	font-weight: normal;
	background-color: White;
	margin: 0px;
	color: #000080;
}
select {
	font-size : xx-small;
	background: white;
	font-family : Verdana;
	border-width : 1;
	border-style : solid;
	border-color : #000080;
}
A:link {
	color : #000080;
	font-size : xx-small;
	font-weight : bold;
	text-decoration: none;
}
A:visited {
	color : #000080;
	font-size : xx-small;
	font-weight : bold;
	text-decoration: none;
}
A:hover {
	color : #00009C;
	font-size : xx-small;
	font-weight : bold;
	text-decoration: none;
}
.menuBouton {
	font-family:verdana;
	font-size:xx-small;
	font-weight:bold;
	color:#ffffff;
	text-decoration:none;
}
.cmdForm {
	font-size : xx-small;
	font-family : Verdana;
	background-color : #8183A2;
	color : #ffffff;
	font-weight : bold;
	border-width : thin;
}
.tblText {
	font-family: verdana;
	font-size:xx-small;
	font-weight: normal;
	color: #000080;
}
#desc {
    BACKGROUND-COLOR: transparent;
    BORDER-BOTTOM: silver 1px;
    BORDER-LEFT: silver 1px;
    BORDER-RIGHT: silver 1px;
    BORDER-TOP: silver 1px;
    COLOR: black;
    FONT-FAMILY: verdana;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: normal;
    MARGIN: 1px 0em;
    TEXT-ALIGN: justify;
    TEXT-INDENT: 0%;
}
.DHeading {
	BACKGROUND-COLOR: #8183A2;
	color: #FFFFFF;
	font-size : 12px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight : bold;
}
.DBody {
    color : #000080; 
	font-size : xx-small; 
	font-family: Verdana; 
	padding-left: 2; 
	padding-top: 2;
}
.DDate {
	color : #000080; 
	font-size : xx-small;
}
.DHead {
    color: #FFFFFF;
	background-color: #8183A2; 
	font-family: verdana; 
	font-size: 10pt; 
	font-style: normal; 
    font-weight: bold; 
}
.permLec:link {
	color : #FFFFFF;
	font-size : xx-small;
	font-weight : bold;
	text-decoration: none;
}
.LayCatPathText {
	font-family: verdana;
	font-size:xx-small;
	font-weight: normal;
	color: #000080;
}
#LayCatPathHref {
	font-family: verdana;
	font-size:xx-small;
	font-weight : bold;
	text-decoration: none;
	color: #000080;
}
#LayCatPathHref:hover {
	font-family: verdana;
	font-size:xx-small;
	font-weight : bold;
	text-decoration: none;
	color: #FF0000;
}
.LayCatChildTitle {
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
	color: #7C7C7C;
	margin : 10px;
	background : #DFDFDF;
}
LayCatLayoutTitle {
	font-family: verdana;
	font-size:xx-small;
	font-weight: normal;
	color: #000080;
}